.eightball {
  box-shadow: 5px 5px 10px #678;
  margin: 0px auto;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: black;
}

.form {
  margin: 20px;
}

.arrow-down {
  margin-top: 20px;
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 75px 100px 75px;
  border-color: transparent transparent #007bff transparent;
  float: left;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.arrow-down p {
  text-align: center;
  top: 0px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
  font-size: 1rem;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.eightball-shake[wobble="1"] {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
